.box-part {
	--roundness: 10px;

	width: 100%;
	height: 100%;
	background-color: var(--c-secondary);
	cursor: pointer;
	display: flex;
	align-items: center;
}

.box-part>span {
	flex: 1 0 0;
	text-align: center;
}

.box-part:not(.facing-none):hover {
	background-color: var(--c-primary);
}

.box-part.facing-none {
	cursor: default;
}

.box-part.facing-north {
	border-radius: var(--roundness) var(--roundness) 0 0;
}

.box-part.facing-east {
	border-radius: 0 var(--roundness) var(--roundness) 0;
}

.box-part.facing-south {
	border-radius: 0 0 var(--roundness) var(--roundness);
}

.box-part.facing-west {
	border-radius: var(--roundness) 0 0 var(--roundness);
}
