.box-part {
	--roundness: 10px;
	--margin: 5px;

	width: 100%;
	height: 100%;
	background-color: var(--c-secondary);
	cursor: pointer;
	display: flex;
	align-items: center;
	color: var(--c-text-dark);
	border-width: 0;
	border-style: solid;
	border-color: inherit;
}

.box-part>span {
	flex: 1 0 0;
	text-align: center;
}

.warehouse-cell:hover .box-part:not(.facing-vertical):not(.facing-horizontal) {
	background-color: var(--c-primary);
}

.box-part.facing-vertical, .box-part.facing-horizontal {
	cursor: default;
}

.box-part.facing-north {
	border-radius: var(--roundness) var(--roundness) 0 0;
	border-top-width: var(--margin);
	border-left-width: var(--margin);
	border-right-width: var(--margin);
	width: calc(100% - var(--margin) * 2);
	height: calc(100% - var(--margin));
}

.box-part.facing-east {
	border-radius: 0 var(--roundness) var(--roundness) 0;
	border-top-width: var(--margin);
	border-right-width: var(--margin);
	border-bottom-width: var(--margin);
	width: calc(100% - var(--margin));
	height: calc(100% - var(--margin) * 2);
}

.box-part.facing-south {
	border-radius: 0 0 var(--roundness) var(--roundness);
	border-left-width: var(--margin);
	border-right-width: var(--margin);
	border-bottom-width: var(--margin);
	width: calc(100% - var(--margin) * 2);
	height: calc(100% - var(--margin) );
}

.box-part.facing-west {
	border-radius: var(--roundness) 0 0 var(--roundness);
	border-top-width: var(--margin);
	border-left-width: var(--margin);
	border-bottom-width: var(--margin);
	width: calc(100% - var(--margin));
	height: calc(100% - var(--margin) * 2);
}

.box-part.facing-vertical {
	border-left-width: var(--margin);
	border-right-width: var(--margin);
	width: calc(100% - var(--margin) * 2);
}

.box-part.facing-horizontal {
	border-top-width: var(--margin);
	border-bottom-width: var(--margin);
	height: calc(100% - var(--margin) * 2);
}
