.box-part {
	--roundness: 10px;
	--margin: 5px;

	width: 100%;
	height: 100%;
	background-color: var(--c-secondary);
	cursor: pointer;
	display: flex;
	align-items: center;
	border-width: 0;
	border-style: solid;
	border-color: inherit;
	overflow: hidden;
}

.box-part {
	background-repeat: no-repeat;
	background-size: 75%;
	background-position: center;
}
.part-nail { background-image: url('../icons/part-nail.png'); }
.part-hammer { background-image: url('../icons/tool-hammer.png'); }
.part-screw { background-image: url('../icons/part-screw.png'); }
.part-screwdriver { background-image: url('../icons/tool-screwdriver.png'); }
.part-bolt { background-image: url('../icons/part-bolt.png'); }
.part-wrench { background-image: url('../icons/tool-wrench.png'); }
.part-solder { background-image: url('../icons/part-solder.png'); }
.part-soldering-iron { background-image: url('../icons/tool-soldering-iron.png'); }
.part-wire { background-image: url('../icons/part-wire.png'); }
.part-wire-crimper { background-image: url('../icons/tool-wire-crimper.png'); }

.box-part>span {
	color: var(--c-text-dark);
	opacity: 0;
	font-family: 'Special Elite', cursive;
	font-weight: bold;
	font-size: 12px;
	flex: 1 0 0;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	padding: 5px 0;
	background-color: var(--c-text-light);
	transition: opacity 0s;
}

.box-part:hover>span {
	opacity: 1;
	transition: opacity 0.25s ease-out;
	transition-delay: 0.2s;
}

.box-part.facing-horizontal>span,
.box-part.facing-east>span,
.box-part.facing-west>span {
	transform: rotate(-90deg);
}

.box-part.card {
	height: 80px;
	width: 80px;
	background-color: var(--c-text-light);
	border-radius: var(--roundness);
}

.warehouse-cell:hover .box-part:not(.facing-vertical):not(.facing-horizontal) {
	background-color: var(--c-primary);
}

.box-part.facing-vertical, .box-part.facing-horizontal,
.box-part.card {
	cursor: default;
}

.box-part.facing-north {
	border-radius: var(--roundness) var(--roundness) 0 0;
	border-top-width: var(--margin);
	border-left-width: var(--margin);
	border-right-width: var(--margin);
	width: calc(100% - var(--margin) * 2);
	height: calc(100% - var(--margin));
}

.box-part.facing-east {
	border-radius: 0 var(--roundness) var(--roundness) 0;
	border-top-width: var(--margin);
	border-right-width: var(--margin);
	border-bottom-width: var(--margin);
	width: calc(100% - var(--margin));
	height: calc(100% - var(--margin) * 2);
}

.box-part.facing-south {
	border-radius: 0 0 var(--roundness) var(--roundness);
	border-left-width: var(--margin);
	border-right-width: var(--margin);
	border-bottom-width: var(--margin);
	width: calc(100% - var(--margin) * 2);
	height: calc(100% - var(--margin) );
}

.box-part.facing-west {
	border-radius: var(--roundness) 0 0 var(--roundness);
	border-top-width: var(--margin);
	border-left-width: var(--margin);
	border-bottom-width: var(--margin);
	width: calc(100% - var(--margin));
	height: calc(100% - var(--margin) * 2);
}

.box-part.facing-vertical {
	border-left-width: var(--margin);
	border-right-width: var(--margin);
	width: calc(100% - var(--margin) * 2);
}

.box-part.facing-horizontal {
	border-top-width: var(--margin);
	border-bottom-width: var(--margin);
	height: calc(100% - var(--margin) * 2);
}
