#inventory {
	flex: 1 0 100px;
	overflow: hidden;
}

#inventory, #hand>div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#inventory>div {
	flex: 0 0 50%;
}

#inventory>div>div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: space-between;
	align-content: flex-start;
}
