body {
	margin: 0;
	color: var(--c-text-light);
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

header, #shop, #warehouse {
	padding: 20px;
}

header {
	background-color: var(--c-bg2);
	flex-grow: 0;
}

main {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

main>* {
	flex-grow: 1;
}

#shop {
	background-color: var(--c-bg0);
}

#warehouse {
	background-color: var(--c-bg1);
}
